In [9]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\stuti\anaconda2\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\stuti\anaconda2\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\stuti\anaconda2\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\stuti\anaconda2\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\stuti\anaconda2\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: cffi>=1.14 in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: outcome in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\stuti\anaconda2\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\stuti\anaconda2\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\stuti\anaconda2\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\stuti\anaconda2\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [30]:
from PIL import Image
import io
import re 
import time
import pandas as pd
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings("ignore")
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
import urllib.request
import os

In [31]:
!pip install selenium

# Let's import all required libraries

import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds

Requirement already satisfied: selenium in c:\users\stuti\anaconda2\lib\site-packages (4.10.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\stuti\anaconda2\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\stuti\anaconda2\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\stuti\anaconda2\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\stuti\anaconda2\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: outcome in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\stuti\anaconda2\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\stuti\anaconda2\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\stuti\anaconda2\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\stuti\anaconda2\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\stuti\anaconda2\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

driver = webdriver.Chrome()

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [12]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [13]:
#create empty lists
Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

In [14]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

len(Rank)

30

In [21]:
#scrapping name
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
len(Name)

30

In [22]:
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
len(Artist)

40

In [16]:
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')

len(UploadDate)

30

In [17]:
# Scraping Views of videos

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_") 
len(Views)

30

In [26]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank[:30]
wikipedia['Name']=Name[:30]
wikipedia['Artist']=Artist[:30]
wikipedia['Upload Date']=UploadDate[:30]
wikipedia['Views']=Views[:30]

wikipedia.index +=1
wikipedia

,Rank,Name,Artist,Upload Date,Views
1,1.,"""Baby Shark Dance""[6]","7,046,700,000","June 17, 2016",13.18
2,2.,"""Despacito""[9]","2,993,700,000","January 12, 2017",8.23
3,3.,"""Johny Johny Yes Papa""[16]","2,894,000,000","October 8, 2016",6.76
4,4.,"""Bath Song""[17]","803,700,000","May 2, 2018",6.33
5,5.,"""Shape of You""[18]","245,400,000","January 30, 2017",6.05
6,6.,"""See You Again""[21]","178,400,000","April 6, 2015",5.98
7,8.,"""Wheels on the Bus""[26]","128,900,000","May 24, 2018",5.46
8,7.,"""Phonics Song with Two Words""[27]","118,900,000","March 6, 2014",5.42
9,9.,"""Uptown Funk""[28]","92,600,000","November 19, 2014",4.99
10,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]","78,400,000","February 27, 2018",4.94
11,11.,"""Gangnam Style""[30]","76,600,000","July 15, 2012",4.86
12,12.,"""Masha and the Bear – Recipe for Disaster""[35]","10,600,000","January 31, 2012",4.55
13,13.,"""Dame Tu Cosita""[36]","4,300,000","April 5, 2018",4.41
14,14.,"""Axel F""[37]","2,700,000","June 16, 2009",4.00
15,15.,"""Sugar""[38]","3,400,000","January 14, 2015",3.91
16,16.,"""Roar""[39]","2,300,000","September 5, 2013",3.84
17,17.,"""Counting Stars""[40]","1,000,000","May 31, 2013",3.84
18,18.,"""Baa Baa Black Sheep""[41]","255,000","June 25, 2018",3.73
19,19.,"""Sorry""[42]","247,000","October 22, 2015",3.69
20,20.,"""Waka Waka (This Time for Africa)""[43]",1,"June 4, 2010",3.68
21,21.,"""Thinking Out Loud""[44]","7,046,700,000","October 7, 2014",3.63
22,22.,"""Lakdi Ki Kathi""[45]","2,993,700,000","June 14, 2018",3.63
23,23.,"""Dark Horse""[46]","2,894,000,000","February 20, 2014",3.56
24,24.,"""Perfect""[47]","803,700,000","November 9, 2017",3.51
25,25.,"""Faded""[48]","245,400,000","December 3, 2015",3.49
26,26.,"""Let Her Go""[49]","178,400,000","July 25, 2012",3.48
27,27.,"""Humpty the train on a fruits ride""[50]","128,900,000","January 26, 2018",3.51
28,28.,"""Girls Like You""[51]","118,900,000","May 31, 2018",3.45
29,29.,"""Bailando""[52]","92,600,000","April 11, 2014",3.43
30,30.,"""Lean On""[53]","78,400,000","March 22, 2015",3.43

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [21]:
# Opening the homepage
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

In [22]:
#clicking on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [23]:
#Creating Empty List
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [24]:
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Match_title.append(i.text.replace('-',""))
except NoSuchElementException:
    Match_title.append('-')
    
print(Match_title)

['4th T20I ', '5th T20I ', '1st T20I ', '2nd T20I ', '3rd T20I ', '1st ODI ', '2nd ODI ', '1st ODI ']

In [25]:
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
print(Series)

['INDIA TOUR OF WEST INDIES 2023', 'INDIA TOUR OF WEST INDIES 2023', 'INDIA TOUR OF IRELAND 2023', 'INDIA TOUR OF IRELAND 2023', 'INDIA TOUR OF IRELAND 2023', 'ASIA CUP 2023', 'ASIA CUP 2023', 'AUSTRALIA TOUR OF INDIA 2023-24']

In [26]:
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text.replace(',',""))
except NoSuchElementException:
    Place.append('-')
    
Place

['/ 10.3 ov',
 'Central Broward Regional Park Stadium Turf Ground',
 'Central Broward Regional Park Stadium Turf Ground',
 'The Village',
 'The Village',
 'The Village',
 'Pallekele International Cricket Stadium',
 'Pallekele International Cricket Stadium',
 'Punjab Cricket Association IS Bindra Stadium']

In [27]:
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

print(Date)

['12 AUG 2023', '13 AUG 2023', '18 AUG 2023', '20 AUG 2023', '23 AUG 2023', '2 SEP 2023', '4 SEP 2023', '22 SEP 2023']

In [28]:
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

print(Time)

['8:00 PM ', '8:00 PM ', '7:30 PM ', '7:30 PM ', '7:30 PM ', '10:00 AM ', '10:00 AM ', '1:30 PM ']

In [29]:
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

8 8 9 8 8

In [31]:
# Creating DataFrame from scraped data
BCCI_FIXTURES = pd.DataFrame({})
BCCI_FIXTURES['Match_Title']=Match_title
BCCI_FIXTURES['Series']=Series
BCCI_FIXTURES['Place']=Place[1:9]
BCCI_FIXTURES['Date']=Date
BCCI_FIXTURES['Time']=Time

BCCI_FIXTURES.index +=1
BCCI_FIXTURES

,Match_Title,Series,Place,Date,Time
1,4th T20I,INDIA TOUR OF WEST INDIES 2023,Central Broward Regional Park Stadium Turf Ground,12 AUG 2023,8:00 PM
2,5th T20I,INDIA TOUR OF WEST INDIES 2023,Central Broward Regional Park Stadium Turf Ground,13 AUG 2023,8:00 PM
3,1st T20I,INDIA TOUR OF IRELAND 2023,The Village,18 AUG 2023,7:30 PM
4,2nd T20I,INDIA TOUR OF IRELAND 2023,The Village,20 AUG 2023,7:30 PM
5,3rd T20I,INDIA TOUR OF IRELAND 2023,The Village,23 AUG 2023,7:30 PM
6,1st ODI,ASIA CUP 2023,Pallekele International Cricket Stadium,2 SEP 2023,10:00 AM
7,2nd ODI,ASIA CUP 2023,Pallekele International Cricket Stadium,4 SEP 2023,10:00 AM
8,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,Punjab Cricket Association IS Bindra Stadium,22 SEP 2023,1:30 PM

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [3]:
# Opening the homepage
url = "http://statisticstimes.com/"
driver.get(url)

In [4]:
#clicking on Economy page tab
Economy= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button/i') # click button
Economy.click()

In [5]:
#clicking on INDIA tab in dropdown
India= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click() # click button

In [7]:
# click the GDPofIndianStates
GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP.click()

In [9]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDPbillion = []

In [10]:
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
print(Rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [11]:
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Telangana',
 'Andhra Pradesh',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Jharkhand',
 'Chhattisgarh',
 'Uttarakhand',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Sikkim',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [12]:
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [13]:
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [14]:
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [15]:
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [17]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank[:33]
INDIA['STATE']=State[:33]
INDIA['GSDP1']=GSDP1[:33]
INDIA['GSDP2']=GSDP2[:33]
INDIA['SHARE']=Share[:33]
INDIA['GDPbillion']=GDPbillion[:33]
INDIA.index +=1
INDIA

   RANK                      STATE      GSDP1      GSDP2   SHARE GDPbillion
1     1                Maharashtra          -  2,632,792  13.94%    399.921
2     2                 Tamil Nadu  1,845,853  1,630,208   8.63%    247.629
3     3              Uttar Pradesh  1,687,818  1,584,764   8.39%    240.726
4     4                    Gujarat          -  1,502,899   7.96%    228.290
5     5                  Karnataka  1,631,977  1,493,127   7.91%    226.806
6     6                West Bengal  1,253,832  1,089,898   5.77%    165.556
7     7                  Rajasthan  1,020,989    942,586   4.99%    143.179
8     8             Andhra Pradesh    972,782    862,957   4.57%    131.083
9     9                  Telangana    969,604    861,031   4.56%    130.791
10   10             Madhya Pradesh    906,672    809,592   4.29%    122.977
11   11                     Kerala          -    781,653   4.14%    118.733
12   12                      Delhi    856,112    774,870   4.10%    117.703
13   13                    Haryana    831,610    734,163   3.89%    111.519
14   14                      Bihar    611,804    530,363   2.81%     80.562
15   15                     Punjab    574,760    526,376   2.79%     79.957
16   16                     Odisha    521,275    487,805   2.58%     74.098
17   17                      Assam          -    315,881   1.67%     47.982
18   18               Chhattisgarh    329,180    304,063   1.61%     46.187
19   19                  Jharkhand    328,598    297,204   1.57%     45.145
20   20                Uttarakhand          -    245,895   1.30%     37.351
21   21            Jammu & Kashmir          -    155,956   0.83%     23.690
22   22           Himachal Pradesh    165,472    153,845   0.81%     23.369
23   23                        Goa     80,449     73,170   0.39%     11.115
24   24                    Tripura     55,984     49,845   0.26%      7.571
25   25                 Chandigarh          -     42,114   0.22%      6.397
26   26                 Puducherry     38,253     34,433   0.18%      5.230
27   27                  Meghalaya     36,572     33,481   0.18%      5.086
28   28                     Sikkim     32,496     28,723   0.15%      4.363
29   29                    Manipur     31,790     27,870   0.15%      4.233
30   30                   Nagaland          -     27,283   0.14%      4.144
31   31          Arunachal Pradesh          -     24,603   0.13%      3.737
32   32                    Mizoram     26,503     22,287   0.12%      3.385
33   33  Andaman & Nicobar Islands          -          -       -          -

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [33]:
# Getting the webpage of mentioned url 
url = " https://github.com/"
driver.get(url)

In [34]:
#click the Open Source (More Dropdown) 
Open_Source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

In [35]:
#Clckiing Trending Tab
Trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [36]:
#Creating empty list:
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [37]:
#Scrape Repository Title
title=[]
try:
    titles=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
    for x in titles:
        title.append(x.text.replace(' /',''))
except NoSuchElementException:
    title.append('-')
    
print(len(title),title)

25 ['huggingface', 'clockworklabs', 'TheAlgorithms', 'radix-ui', 'joonspk-research', 'PeiQi0', 'morph-labs', 'hackclub', 'kognise', 'remote-es', 'wangdoc', 'blakeblackshear', 't3dotgg', 'vllm-project', 'dvlab-research', 'THUDM', 'axios', 'aquasecurity', 'taikoxyz', 'orkestral', 'practical-tutorials', 'supabase', 'microsoft', 'jwasham', 'nlohmann']

In [38]:
#Scrape Repository Description
try:
    description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for x in description:
        Description.append(x.text)
except NoSuchElementException:
    Description.append('-')
    
print(len(Description),Description)

25 ['Minimalist ML framework for Rust', 'Multiplayer at the speed of light', 'All Algorithms implemented in Python', 'Radix Themes is an open-source component library optimized for fast development, easy maintenance, and accessibility. Maintained by @workos.', 'Generative Agents: Interactive Simulacra of Human Behavior', '面向网络安全从业者的知识文库🍃', 'Rift: an AI-native language server for your personal AI software engineer', 'A technical explainer by @kognise of how your computer runs programs, from start to finish.', 'Answering the question nobody asked: what if you wanted to text your friends using only ARP?', 'This is a repository listing companies which offer full-time remote jobs with Spanish contracts', 'TypeScript 教程', 'NVR with realtime local object detection for IP cameras', 'poorly guess how much money a tweet is worth', 'A high-throughput and memory-efficient inference and serving engine for LLMs', 'Project Page for "LISA: Reasoning Segmentation via Large Language Model"', 'A Comprehensive Benchmark to Evaluate LLMs as Agents', 'Promise based HTTP client for the browser and node.js', 'Cloud Security Posture Management (CSPM)', 'A decentralized, Ethereum-equivalent ZK-Rollup. 🥁', 'Venom is the most complete javascript library for Whatsapp, 100% Open Source.', 'Curated list of project-based tutorials', 'The open source Firebase alternative. Follow to stay updated about our public Beta.', '24 Lessons, 12 Weeks, Get Started as a Web Developer', 'A complete computer science study plan to become a software engineer.', 'JSON for Modern C++']

In [39]:
#Scrape Repository Title
Contributors=[]
try:
    contributors=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
    for x in contributors:
        Contributors.append(x.text.replace(' /',''))
except NoSuchElementException:
    Contributors.append('-')

Contributors = Contributors[1::2]
print(len(Contributors),Contributors)

25 ['173', '29', '41,148', '27', '602', '434', '59', '54', '44', '154', '80', '937', '30', '489', '35', '24', '10,454', '622', '784', '912', '15,867', '4,325', '11,617', '68,943', '6,189']

In [40]:
# Define the list to store the extracted languages
Language = []

try:
    # Find the elements that contain the language information using XPath
    language_elements = driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]')

    for x in language_elements:
        try:
            Language.append(x.text.replace(' /', ''))
        except:
            # Handle the case when language information extraction fails
            Language.append('-')

except NoSuchElementException:
    # Handle the case when the language elements are not found on the page
    Language.append('-')

# Print the number of languages found and the list of languages
print(len(Language), Language)

19 ['Rust', 'Rust', 'Python', 'TypeScript', 'Python', 'MDX', 'Rust', 'Python', 'JavaScript', 'Python', 'Python', 'C++', 'JavaScript', 'JavaScript', 'HTML', 'JavaScript', 'TypeScript', 'JavaScript', 'C++']

In [41]:
Github=pd.DataFrame({})
Github['Repository title'] = title[:19]
Github['Repository description'] = Description[:19]
Github['Repository Contributors'] = Contributors[:19]
Github['Repository Language'] = Language[:19]
Github

,Repository title,Repository description,Repository Contributors,Repository Language
0,huggingface,Minimalist ML framework for Rust,173,Rust
1,clockworklabs,Multiplayer at the speed of light,29,Rust
2,TheAlgorithms,All Algorithms implemented in Python,"41,148",Python
3,radix-ui,Radix Themes is an open-source component libra...,27,TypeScript
4,joonspk-research,Generative Agents: Interactive Simulacra of Hu...,602,Python
5,PeiQi0,面向网络安全从业者的知识文库🍃,434,MDX
6,morph-labs,Rift: an AI-native language server for your pe...,59,Rust
7,hackclub,A technical explainer by @kognise of how your ...,54,Python
8,kognise,Answering the question nobody asked: what if y...,44,JavaScript
9,remote-es,This is a repository listing companies which o...,154,Python
10,wangdoc,TypeScript 教程,80,Python
11,blakeblackshear,NVR with realtime local object detection for I...,937,C++
12,t3dotgg,poorly guess how much money a tweet is worth,30,JavaScript
13,vllm-project,A high-throughput and memory-efficient inferen...,489,JavaScript
14,dvlab-research,"Project Page for ""LISA: Reasoning Segmentation...",35,HTML
15,THUDM,A Comprehensive Benchmark to Evaluate LLMs as ...,24,JavaScript
16,axios,Promise based HTTP client for the browser and ...,"10,454",TypeScript
17,aquasecurity,Cloud Security Posture Management (CSPM),622,JavaScript
18,taikoxyz,"A decentralized, Ethereum-equivalent ZK-Rollup. 🥁",784,C++

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [43]:
url='https://www.billboard.com/'
driver.get(url)

In [45]:
#Clicking on cHART tab
hot=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [47]:
#Clicking on HOT100 tab
hot100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [61]:
# Creating empty lists
Song_Name = []
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text.split('\n')[0])
print(len(Song_Name),Song_Name)

100 ['Last Night', 'Fast Car', 'Meltdown', 'Cruel Summer', 'FE!N', 'Calm Down', 'Fukumean', 'Barbie World', 'Vampire', 'Dance The Night', 'I Know ?', 'Flowers', 'All My Life', 'Hyaena', 'Snooze', 'Thank God', 'Topia Twins', 'K-POP', 'My Eyes', 'Karma', 'Try That In A Small Town', 'What Was I Made For?', 'Modern Jam', 'Need A Favor', 'Delresto (Echoes)', 'Telekinesis', 'Sirens', "God's Country", 'Kill Bill', 'Seven', 'Anti-Hero', "Creepin'", 'Religiously', 'Skitzo', 'Chemical', 'Circus Maximus', "Thinkin' Bout Me", 'Til Further Notice', 'Favorite Song', 'Mourning', 'Cupid', 'Ella Baila Sola', 'In Your Love', 'Dial Drunk', 'Next Thing You Know', 'Lost Forever', 'You, Me, & Whiskey', 'Love You Anyway', 'Looove', 'Thought You Should Know', 'Bury Me In Georgia', 'La Bebe', 'Parasail', 'Search & Rescue', 'Jealousy', 'Enough Is Enough', 'Put It On Da Floor Again', 'Deli', 'Un x100to', 'LaLa', 'Where She Goes', 'Princess Diana', 'Lady Gaga', "Baby Don't Hurt Me", 'Area Codes', 'What It Is (Block Boy)', 'Something Real', 'Overdrive', 'Peaches & Eggplants', 'Sabor Fresa', 'Watermelon Moonshine', 'Your Heart Or Mine', 'Eyes Closed', 'Daylight', 'Tulum', "I Can See You (Taylor's Version) (From The Vault)", 'Super Shy', 'Speed Drive', 'White Horse', 'On The Radar Freestyle', 'Stand By Me', 'Fragil', 'Everything I Love', 'Shake Sumn', 'TQM', 'Popular', 'Too Cool To Die', "Don't Understand", 'Aqui Te Espero', 'Novacandy', 'Truck Bed', "I'm Just Ken", 'Jaded', 'Heartbroken', 'Memory Lane', 'Oh U Went', 'ICU', 'Pound Town 2', 'Bzrp Music Sessions, Vol. 55', 'Johnny Dang']

In [50]:
Artist_Name=[]
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)

#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])

In [51]:
print(len(Artist_Name),Artist_Name)

100 ['Morgan Wallen', 'Luke Combs', 'Travis Scott Featuring Drake', 'Taylor Swift', 'Travis Scott Featuring Playboi Carti', 'Rema & Selena Gomez', 'Gunna', 'Nicki Minaj & Ice Spice With Aqua', 'Olivia Rodrigo', 'Dua Lipa', 'Travis Scott', 'Miley Cyrus', 'Lil Durk Featuring J. Cole', 'Travis Scott', 'SZA', 'Travis Scott', 'Travis Scott Featuring Rob49 & 21 Savage', 'Travis Scott, Bad Bunny & The Weeknd', 'Travis Scott', 'Taylor Swift Featuring Ice Spice', 'Jason Aldean', 'Billie Eilish', 'Travis Scott Featuring Teezo Touchdown', 'Jelly Roll', 'Travis Scott & Beyonce', 'Travis Scott Featuring SZA & Future', 'Travis Scott', 'Travis Scott', 'SZA', 'Jung Kook Featuring Latto', 'Taylor Swift', 'Metro Boomin, The Weeknd & 21 Savage', 'Bailey Zimmerman', 'Travis Scott Featuring Young Thug', 'Post Malone', 'Travis Scott Featuring The Weeknd & Swae Lee', 'Morgan Wallen', 'Travis Scott Featuring James Blake & 21 Savage', 'Toosii', 'Post Malone', 'Fifty Fifty', 'Eslabon Armado X Peso Pluma', 'Tyler Childers', 'Noah Kahan With Post Malone', 'Jordan Davis', 'Travis Scott Featuring Westside Gunn', 'Justin Moore & Priscilla Block', 'Luke Combs', 'Travis Scott Featuring Kid Cudi', 'Morgan Wallen', 'Kane Brown', 'Yng Lvcas x Peso Pluma', 'Travis Scott Featuring Yung Lean & Dave Chappelle', 'Drake', 'Offset & Cardi B', 'Post Malone', 'Latto Featuring Cardi B', 'Ice Spice', 'Grupo Frontera X Bad Bunny', 'Myke Towers', 'Bad Bunny', 'Ice Spice & Nicki Minaj', 'Peso Pluma, Gabito Ballesteros & Junior H', 'David Guetta, Anne-Marie & Coi Leray', 'Kaliii', 'Doechii Featuring Kodak Black', 'Post Malone', 'Post Malone', 'Young Nudy Featuring 21 Savage', 'Fuerza Regida', 'Lainey Wilson', 'Jon Pardi', 'Ed Sheeran', 'David Kushner', 'Peso Pluma & Grupo Frontera', 'Taylor Swift', 'NewJeans', 'Charli XCX', 'Chris Stapleton', 'Drake & Central Cee', 'Lil Durk Featuring Morgan Wallen', 'Yahritza y Su Esencia x Grupo Frontera', 'Morgan Wallen', 'DaBaby', 'Fuerza Regida', 'The Weeknd, Playboi Carti & Madonna', 'Post Malone', 'Post Malone', 'Ivan Cornejo', 'Post Malone', 'HARDY', 'Ryan Gosling', 'Miley Cyrus', 'Diplo, Jessie Murph & Polo G', 'Old Dominion', 'Young Thug Featuring Drake', 'Coco Jones', 'Sexyy Red & Tay Keith & Nicki Minaj', 'Bizarrap & Peso Pluma', 'That Mexican OT, Paul Wall & DRODi']

In [52]:
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])
print(len(Rank),Rank)

594 ['3', '2', '19', '', '', '', '-', '3', '1', '', '', '', '6', '4', '13', '', '', '', '-', '5', '1', '', '', '', '5', '3', '48', '', '', '', '4', '4', '7', '', '', '', '8', '7', '6', '', '', '', '10', '1', '5', '', '', '', '12', '10', '10', '', '', '', '-', '11', '1', '', '', '', '11', '1', '29', '', '', '', '13', '2', '12', '', '', '', '-', '14', '1', '', '', '', '14', '11', '34', '', '', '', '-', '16', '1', '', '', '', '-', '17', '1', '', '', '', '7', '7', '2', '', '', '', '-', '19', '1', '', '', '', '15', '2', '21', '', '', '', '1', '1', '3', '', '', '', '18', '18', '3', '', '', '', '-', '23', '1', '', '', '', '16', '14', '18', '', '', '', '-', '25', '1', '', '', '', '-', '26', '1', '', '', '', '-', '27', '1', '', '', '', '-', '28', '1', '', '', '', '17', '1', '34', '', '', '', '9', '1', '3', '', '', '', '22', '1', '41', '', '', '', '20', '3', '35', '', '', '', '24', '24', '13', '', '', '', '-', '34', '1', '', '', '', '46', '13', '16', '', '', '', '-', '36', '1', '', '', '', '27', '9', '22', '', '', '', '-', '38', '1', '', '', '', '23', '5', '24', '', '', '', '60', '36', '11', '', '', '', '29', '17', '20', '', '', '', '28', '4', '20', '', '', '', '-', '43', '1', '', '', '', '25', '25', '7', '', '', '', '30', '23', '28', '', '', '', '-', '46', '1', '', '', '', '52', '47', '13', '', '', '', '37', '15', '25', '', '', '', '-', '49', '1', '', '', '', '34', '7', '51', '', '', '', '39', '39', '12', '', '', '', '32', '11', '20', '', '', '', '-', '53', '1', '', '', '', '35', '2', '17', '', '', '', '-', '55', '1', '', '', '', '-', '56', '1', '', '', '', '42', '13', '9', '', '', '', '41', '41', '2', '', '', '', '36', '5', '16', '', '', '', '49', '48', '4', '', '', '', '43', '8', '11', '', '', '', '40', '4', '16', '', '', '', '51', '35', '6', '', '', '', '55', '55', '11', '', '', '', '53', '33', '13', '', '', '', '58', '54', '13', '', '', '', '-', '67', '1', '', '', '', '-', '47', '2', '', '', '', '57', '52', '9', '', '', '', '50', '26', '6', '', '', '', '61', '60', '6', '', '', '', '54', '53', '12', '', '', '', '44', '19', '19', '', '', '', '59', '47', '16', '', '', '', '56', '43', '5', '', '', '', '45', '5', '4', '', '', '', '48', '48', '4', '', '', '', '73', '73', '2', '', '', '', '31', '31', '2', '', '', '', '-', '80', '1', '', '', '', '62', '22', '10', '', '', '', '70', '69', '15', '', '', '', '67', '14', '23', '', '', '', '65', '65', '11', '', '', '', '63', '34', '11', '', '', '', '68', '43', '9', '', '', '', '-', '87', '1', '', '', '', '-', '88', '1', '', '', '', '-', '89', '1', '', '', '', '-', '90', '1', '', '', '', '69', '69', '7', '', '', '', '87', '87', '2', '', '', '', '78', '56', '11', '', '', '', '64', '64', '2', '', '', '', '47', '27', '18', '', '', '', '66', '19', '6', '', '', '', '71', '62', '18', '', '', '', '74', '66', '9', '', '', '', '72', '31', '9', '', '', '', '96', '96', '3', '', '', '']

In [53]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [54]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [55]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [62]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,Last Night,Morgan Wallen,2,1,27
1,Fast Car,Luke Combs,3,2,19
2,Meltdown,Travis Scott Featuring Drake,-,3,1
3,Cruel Summer,Taylor Swift,6,4,13
4,FE!N,Travis Scott Featuring Playboi Carti,-,5,1
...,...,...,...,...,...
95,Oh U Went,Young Thug Featuring Drake,70,69,15
96,ICU,Coco Jones,,,
97,Pound Town 2,Sexyy Red & Tay Keith & Nicki Minaj,67,14,23
98,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,,,
99,Johnny Dang,"That Mexican OT, Paul Wall & DRODi",65,65,11

# Url =
https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-You have to find the following details:
    
6. Scrape the details of Highest selling novels.
compare
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [63]:
# Getting the webpage of mentioned url 
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [64]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [65]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [66]:
print(len(Bookname),len(Authorname),len(Volumessold),len(Publisher),len(Genre))

100 100 100 100 100

In [69]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels.index +=1
Novels

,Book Name,Author,Volume sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [70]:
# Getting the webpage of mentioned url 
url = " https://www.imdb.com/list/ls095964455/ "
driver.get(url)

In [71]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [72]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [73]:
print(len(Name),len(Year_span),len(Run_time),len(Ratings),len(Genre),len(Votes))

100 100 100 100 100 100

In [74]:
series=pd.DataFrame({})
series['Name'] = Name
series['Year Span'] = Year_span
series['Genre'] = Genre
series['Run Time'] = Run_time
series['Ratings'] = Ratings
series['Votes'] = Votes
series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,191,293"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,265,377"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,213"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,737"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"264,804"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,380"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,405"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"209,934"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,649"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,289"

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [40]:
# Getting the webpage of mentioned url 
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [41]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [46]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [47]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [53]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,'//p[@class="text-md"]')
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]//div//p')
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,'//p[@class="text-md"]')
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,'//p[@class="text-md"]')
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,'//p[@class="text-md"]')
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,'//h2[@class="text-primary-content"]')
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [60]:
# Creating dataframe 

MachineLearning=pd.DataFrame({})
MachineLearning['Data Name'] = Dataset_name[:10]
MachineLearning['Data Type'] = Data_type[:10]
MachineLearning['Task'] = Task[:10]
MachineLearning['Attribute type'] = Attribute_type[:10]
MachineLearning['No of instance'] = No_of_instances[:10]
MachineLearning['No of attributes'] = No_of_attributes[:10]
MachineLearning['Year'] = Year[:10]
MachineLearning

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,Iris,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona
1,Heart Disease,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona
2,Adult,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona
3,Dry Bean Dataset,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona
4,Diabetes,"Multivariate, Time-Series","Multivariate, Time-Series","Multivariate, Time-Series","Multivariate, Time-Series","Multivariate, Time-Series",-
5,Wine,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona
7,Car Evaluation,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona
8,Rice (Cammeo and Osmancik),Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona
9,Mushroom,Multivariate,Multivariate,Multivariate,Multivariate,Multivariate,Dona